.contacts {
  background-color: $primary-bg-color;
}

.padding-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.box-container {
  text-align: center;

  .contacts-list {
    margin-bottom: 60px;
    @media screen and (min-width: $tablet) {
      margin-right: 140px;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.logo {
  margin-top: 0;
  @media screen and (min-width: $tablet) {
    margin-left: 100px;
  }
}
.location {
  margin-bottom: 8px;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
.address-color {
  display: block;
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $accent-text-link-color;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.icons {
  margin-bottom: 60px;

  .subtitle-text {
    margin-top: 0;
  }
}
