.button {
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;

  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: $secondary-text-color;
  background-color: $accent-color;
}

/*/ Кнопка секции герой*/

/* Кнопка х в модалке*/

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  /* outline: none; */

  cursor: pointer;
  border: 1px solid $modal-button-border-color;
  border-radius: 50%;
  background-color: $secondary-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .x-button {
    fill: $accent-color;
  }
  &:focus-within > .x-button {
    fill: $accent-color;
  }
}

/*/ Кнопка х в модалке*/

/* Кнопка отправить в модалке*/

.send {
  position: absolute;
  left: 120px;
  bottom: 40px;
  width: 200px;
  height: 50px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  .btn-text {
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
  }
  @media screen and (min-width: $desktop) {
    left: 160px;
  }
}

/*/ Кнопка отправить в модалке*/

/* Кнопка бургер*/
.menu-button {
  position: absolute;
  top: 5px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  margin-left: 276px;
  padding: 0;
  border: none;
  outline: none;

  background-color: transparent;

  .icon-menu,
  &.is-open .icon-cross {
    display: block;
  }

  .icon-cross,
  &.is-open .icon-menu {
    display: none;
  }

  &:hover .icon-menu,
  &:hover .icon-cross {
    fill: $accent-color;
  }

  &:focus-within > .icon-menu,
  &:focus-within > .icon-cross {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* Кнопка бургер*/
