/*ссылки в index.html*/

.address {
  .adress-color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    color: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      margin-right: 30px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.nav-contact {
  .icon-contacts {
    margin-right: 10px;
    fill: currentColor;
  }
}

/*/ссылки в index.html*/

/*ссылки кнопки в portfolio.html*/

.links {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;

  .links-button {
    margin-right: 8px;
    margin-bottom: 15px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 40px;
    }

    .links-description {
      display: inline-block;
      border-radius: 2px;
      text-decoration: none;
      padding: 6px 22px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      color: $title-text-color;
      background-color: $secondary-bg-color;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $secondary-text-color;
        background-color: $accent-color;
      }
    }
  }
  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

/*/ссылки кнопки в portfolio.html*/
