$title-text-color: #212121;
$accent-text-studio-color: #000000;
$accent-color: #2196f3;
$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$primary-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$accent-text-link-color: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$border-line-color: #ececec;
$gradient: rgba(47, 48, 58, 0.4);
$social-links-color: #afb1b8;
$accent-bg-links-color: rgba(255, 255, 255, 0.1);
$overlay-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-button-border-color: rgba(0, 0, 0, 0.1);
$text-picture-bg-color: rgba(47, 48, 58, 0.8);
$contacts-input-bg-color: rgba(255, 255, 255, 0.3);
$input-border: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$social-vertical-line: rgba(33, 33, 33, 0.2);
